<% var uName; %>
<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Mybrary</a>
        <% if(uName !== undefined) {%>
            <a class="header-title" href="/books"><%= uName %></a>
        <% } %>
        <ul>
            <li><a href="/books">Books</a></li>
            <li><a href="/authors">Authors</a></li>
            <% if(uName === null || uName === "" || uName === undefined) {%>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            <%}%>
            <% if(uName !== undefined) {%>
                <form action="logout?_method=DELETE" method="POST">
                    <li><button type="submit">Log Out</button></li>
                </form>
            <%}%>
        </ul>
    </nav>
</header>